<footer class="text-center">
    <div class="container-fluid">
        <div class="footer__copyright">© Mattermost, Inc. All Rights Reserved.</div>
        <div class="footer__icons">
            <a href="{{ .Site.Params.footer.facebook }}" target="_blank" rel="noopener noreferrer" class="btn-primary" style="transition: background-color .15s ease-in-out"><i class="fa fa-facebook"></i></a>
            <a href="{{ .Site.Params.footer.twitter }}" target="_blank" rel="noopener noreferrer" class="btn-primary" style="transition: background-color .15s ease-in-out"><i class="fa fa-twitter"></i></a>
            <a href="{{ .Site.Params.footer.youtube }}" target="_blank" rel="noopener noreferrer" class="btn-primary" style="transition: background-color .15s ease-in-out"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
