<footer class="text-center">
    <div class="container-fluid">
        <div class="footer__copyright">© Mattermost, Inc. All Rights Reserved.</div>
        <div class="footer__icons">
            <a href="{{ .Site.Params.footer.facebook }}"><i class="fa fa-facebook"></i></a>
            <a href="{{ .Site.Params.footer.twitter }}"><i class="fa fa-twitter"></i></a>
            <a href="{{ .Site.Params.footer.youtube }}"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</footer>
