    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}

    <!-- canonical link tag -->
    <link rel="canonical" href="{{ .Permalink }}"/>

    <link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon-32x32.png"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">

    <!-- CSS  -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/tabs.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bar.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/styles.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/tabs.js"></script>
    <script src="{{ .Site.BaseURL }}/js/main.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
