<!-- Fonts -->
<link rel="preload" href="https://p.typekit.net" crossorigin>
<link rel="preload" href="https://use.typekit.net" crossorigin>
<link rel="preload" href="https://fonts.googleapis.com" crossorigin>
<link rel="preload" href="https://fonts.gstatic.com" crossorigin>
<!-- CSS  -->
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/tabs.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/bar.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/styles.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/code.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/note.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/feedback.css" | absURL }}">
<!-- Compass Icons -->
<link rel="stylesheet" href="{{ "css/compass-icons.css" | absURL }}">
<script async defer src="https://buttons.github.io/buttons.js"></script>