    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> {{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}

    <!-- canonical link tag -->
    <link rel="canonical" href="{{ .Permalink }}"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" type="image/png" href="{{ .Site.BaseURL }}/img/favicon-32x32.png"/>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/tabs.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bar.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/markdown.css">

    <!-- Modernizr JS -->
    <script src="{{ .Site.BaseURL }}/js/modernizr-2.6.2.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/tabs.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
