<div class="homepage__marquee">
    <div class="container-fluid">
        <h1 class="mm-h1">Mattermost for Developers</h1>
        <p class="mm-subhead ff--trade-gothic">All your Mattermost development needs.</p>
        <div class="homepage-search">
            <div class="homepage-search__row">
            {{ if .Site.Params.search.enable }}
            <div class="homepage-search__input">
                <label for="search-query"></label><input id="search-query" type="text" class="transparent ff--trade-gothic" placeholder="What are you looking for?">
            </div>
            {{ end }}
            </div>
        </div>
    </div>
</div>
