<div class="homepage__marquee">
    <div class="container-fluid">
        <h1 class="mm-h1">Mattermost for Developers</h1>
        <p class="mm-subhead ff--trade-gothic">All your Mattermost development needs.</p>
        <div class="homepage-search row">
            {{ if .Site.Params.search.enable }}
            <div class="homepage-search__input col-sm-9">
                <img src="img/search-icon.svg" width="24px" height="24px" alt="Search icon">
                <input type="text" class="transparent" placeholder="Search developer documentation">
            </div>
            <div class="homepage-search__button col-sm-3">
                <input type="button" class="btn btn-white btn-shadow form-control" value="Get Started">
            </div>
            {{ end }}
        </div>
    </div>
</div>
