	<!-- jQuery -->
	<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="{{ .Site.BaseURL }}/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="{{ .Site.BaseURL }}/js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="{{ .Site.BaseURL }}/js/jquery.stellar.min.js"></script>
	<!-- Counter -->
	<script src="{{ .Site.BaseURL }}/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="{{ .Site.BaseURL }}/js/jquery.magnific-popup.min.js"></script>
	<script src="{{ .Site.BaseURL }}js/magnific-popup-options.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
	<script src="{{ .Site.BaseURL }}/js/google_map.js"></script>
	<script src="{{ .Site.BaseURL }}/js/main.js"></script>
