<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        {{ .Site.Params.navigation.brand }}
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{ range .Site.Menus.postpend }}
            <li><a href="{{ .URL }}"><span>{{ .Name | markdownify }}</span></a></li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>

{{ partial "notification.html" .}}
