<div class="second-nav-container">
    <div class="row second-nav-row">
        <div class="col-12 second-nav-col">
            <ul class="second-nav">
                <li class="second-nav__item">
                    <a href="/contribute/" class="second-nav__link">Contribute</a>
                </li>
                <li class="second-nav__item">
                    <a href="/integrate/getting-started" class="second-nav__link">Integrate & Extend</a>
                </li>
                <li class="second-nav__item">
                    <a href="/api-reference" class="second-nav__link">API Reference</a>
                </li>
            </ul>
        </div>
    </div>
</div>
