<div class="col-lg-3 sidebar">
    <div class="sidebar__menu-toggle">
        {{ .Title }}
        <i class="fa fa-bars pull-right"></i>
    </div>
    <div class="row sidebar__links">
        {{ range .Site.Params.sidebar.item }}
        {{ if eq $.Section .name }}
        {{ range where $.Site.Pages ".Params.section" .name }}
        {{ $expanded := or (eq $.Params.subsection .Title) (eq $.Title .Title) (eq $.Parent.Params.subsection .Title) }}

        {{ $.Scratch.Set "icon" "fa-plus-square-o" }}
        {{ if $expanded }}
            {{ $.Scratch.Set "icon" "fa-minus-square-o" }}
        {{ end }}

        {{if eq (len (.Pages)) 0}}
            {{ $.Scratch.Set "iconstyle" "display: none" }}
        {{ else }}
            {{ $.Scratch.Set "iconstyle" "" }}
        {{ end }}

        {{ if eq $.Title .Title }}
        <span class="item active"><i class="sub-menu__toggle fa {{$.Scratch.Get "icon"}}" aria-hidden="true" style="{{$.Scratch.Get "iconstyle"}}"></i><a class="active" href="#"> {{ .Title }}</a></span>
        {{ else }}
        <span class="item"><i class="sub-menu__toggle fa {{$.Scratch.Get "icon"}}" aria-hidden="true" style="{{$.Scratch.Get "iconstyle"}}"></i><a href="{{ .URL }}"> {{ .Title }}</a></span>
        {{ end }}
        {{ if $expanded }}
        <ul class="sub-menu" style="display: block">
        {{ else }}
        <ul class="sub-menu">
        {{ end }}
            {{ range .Sections }}
                {{ $subexpanded := or (eq .Title $.Params.subsection) (eq $.Title .Title) }}

                {{ $.Scratch.Set "subicon" "fa-plus-square-o" }}
                {{ if $subexpanded }}
                    {{ $.Scratch.Set "subicon" "fa-minus-square-o" }}
                {{ end }}

                {{if eq (len (.Pages)) 0}}
                    {{ $.Scratch.Set "iconstyle" "display: none" }}
                {{ else }}
                    {{ $.Scratch.Set "iconstyle" "" }}
                {{ end }}

                {{ if eq $.Title .Title }}
                <span class="item active"><i class="sub-menu__toggle fa {{$.Scratch.Get "subicon"}}" aria-hidden="true" style="{{$.Scratch.Get "iconstyle"}}"></i><a class="active" href="{{ .URL }}"> {{ .Title }}</a></span>
                {{ else }}
                <span class="item"><i class="sub-menu__toggle fa {{$.Scratch.Get "subicon"}}" aria-hidden="true" style="{{$.Scratch.Get "iconstyle"}}"></i><a href="{{ .URL }}"> {{ .Title }}</a></span>
                {{ end }}
                {{ if $subexpanded }}
                <ul class="sub-menu" style="display: block">
                {{ else }}
                <ul class="sub-menu">
                {{ end }}
                {{ range .Pages.ByWeight }}
                    {{ if eq $.Title .Title }}
                    <a class="item active" href="{{ .URL }}">{{ .Title }}</a>
                    {{ else }}
                    <a class="item" href="{{ .URL }}">{{ .Title }}</a>
                    {{ end }}
                {{ end }}
                </ul>
            {{ end }}
            {{ range .Pages.ByWeight }}
                {{ if and (eq $.Title .Title) (eq $.Params.subsection .Params.subsection) }}
                <a class="item active" href="{{ .URL }}">{{ .Title }}</a>
                {{ else }}
                <a class="item" href="{{ .URL }}">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        </ul>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>
