# Page settings
baseURL = ""
relativeURLs = true
title = "Mattermost Developers"
languageCode = "en-us"
publishDir = "../docs"
pygmentsCodeFences = true
pygmentsStyle = "manni"

[params]
  # Meta
  author = ""
  description = ""
  email = ""
  ghrepo = "https://github.com/mattermost/mattermost-developer-documentation/"

  [params.mailinglist]
    enable = false

  [params.notification]
    enable = true
    url = "https://mattermost.com/careers"
    text = "We're hiring!"

  [params.search]
    enable = false

  [params.sidebar]
  [[params.sidebar.item]]
    name = "contribute"
    displayName = "Contribute"
    draft = true

  [[params.sidebar.item]]
    name = "integrate"
    displayName = "Integrate"
    draft = true

  [[params.sidebar.item]]
    name = "extend"
    displayName = "Extend"
    draft = false

  [[params.sidebar.item]]
    name = "internal"
    displayName = "Internal"
    draft = true

  # Navigation
  [params.navigation]
    brand = "Mattermost Developers"
    home = "Home"

    # You can add custom links before or after the default links
    # Assign a weight to define the order

    # prepended links
    #[[menu.prepend]]
    #  url = "http://gohugo.io"
    #  name = "Hugo"
    #  weight = 10

    # postpended links
    [[menu.postpend]]
      url = "/contribute/getting-started"
      name = "Contribute"
      weight = 1

    [[menu.postpend]]
      url = "/integrate/getting-started"
      name = "Integrate"
      weight = 2

    [[menu.postpend]]
      url = "/extend/getting-started"
      name = "Extend"
      weight = 3

    [[menu.postpend]]
      url = "/blog"
      name = "Blog"
      weight = 4

    [[menu.postpend]]
      url = "https://docs.mattermost.com/"
      name = "Admin Docs"
      weight = 5


    # Workaround to add draft status to menu items
    [[params.navigation.drafts]]
      Contribute = false
      Integrate = false
      Extend = false
      Blog = false
      Internal = false
      'Admin Docs' = false

  # Hero section
  [params.hero]
    title = "All your Mattermost development needs"
    subtitle = ''

  # Intro section
  # Available icons: http://simplelineicons.com/
  [params.intro]
  [[params.intro.item]]
    title = "Contribute"
    description = "Join the hundreds of contributors and submit code directly to the Mattermost open-source project."
    url = "contribute/getting-started"
    button = "Start Contributing"
    icon = "/img/contribute-icon.svg"
    draft = false

  [[params.intro.item]]
    title = "Integrate"
    description = "Integrate with Mattermost through incoming and outgoing webhooks, slash commands, OAuth 2.0 and the REST API."
    url = "integrate/getting-started"
    button = "Start Integrating"
    icon = "/img/integrate-icon.svg"
    draft = false

  [[params.intro.item]]
    title = "Extend"
    description = "Extend Mattermost to fit your purpose through powerful client and server plugins, embedding or forking."
    url = "extend/getting-started"
    button = "Start Extending"
    icon = "/img/extend-icon.svg"
    draft = false

  #[params.intro.video]
  #  enable = true
  #  title = "Watch the video"
  #  icon = "icon-play2"
  #  url = "https://vimeo.com/channels/staffpicks/93951774"

  # Footer section
  [params.footer]
    enable = true
    twitter = 'https://twitter.com/mattermost'
    facebook = 'https://www.facebook.com/Mattermost-2300985916642531/'
    youtube = 'https://www.youtube.com/channel/UCNR05H72hi692y01bWaFXNA'
    copyright = '&copy; Mattermost, Inc. All Rights Reserved.'

# Allows html in Hugo >= v0.60.0.  See Github issue #506.
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
