.notification-bar {
    background-color: purple;
    color: white;
    text-align: center;
    width: 100%;
}

.notification-bar a {
    padding: 5px 32px;
}

.closed {
    display: none;
}

.notification-bar .notification-bar__close {
    color: white;
    padding: 5px 5px 5px 0;
}
