<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->

<html>
    <head>
        {{ partial "head.html" .}}
    </head>
<body class="blog-single">
    {{ partial "nav2.html" .}}
    <div class="container">
    <div class="row">
        <div class="col-md-9 doc-content">
            <div class="well well-sm">
                    <h3>{{ .Title }}<br> <small>{{ .Description }}</small></h3>
                    <hr>
                    {{ .Content }}
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-3 doc-content tags-sidebar">
            <div class="well well-sm"> <!-- Post-specific stats -->
                <h6>{{ .Date.Format "January 2, 2006" }}<br>
                <small>{{ .WordCount }} words</small></h6>
                <hr>
                <div>Categories</div>
                <ul class="list-unstyled">
                {{ range .Params.categories }}
                    <li><a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
                </ul>
                <hr>
                <div>Tags</div>
                <div class="list-unstyled">
                {{ range .Params.tags }}<a class="label label-default" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a> {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
