<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->

<html>

<head>
    {{ partial "head.html" .}}
</head>

<body class="blog-single">
    {{ partial "nav2.html" .}}
    <div class="container">
        <div class="row">
            <div class="col-md-9 doc-content">
                <div class="well well-sm">
                    <div class="blog-item__header">
                        <div class="blog-item__title">{{ .Title }}<br> <small>{{ .Description }}</small></div>
                        <div class="blog-item__info">
                            {{ .Date.Format "January 2, 2006" }}
                            <small class="blog-item__count">{{ .WordCount }} words</small>
                        </div>
                    </div>
                    <hr>
                    {{ partial "hanchor.html" .Content }}
                    <hr>
                    Written by {{.Params.author}} -
                    <a href="https://community.mattermost.com/core/messages/@{{.Params.community}}" target="_blank">@{{.Params.community}}</a>
                    on
                    <a href="https://community.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676"
                        target="_blank">community.mattermost.com</a>
                    and <a href="https://github.com/{{.Params.github}}" target="_blank">@{{.Params.github}}</a> on
                    GitHub
                    <br />
                    <br />
                    Join us on <a href="https://community.mattermost.com/signup_user_complete/?id=f1924a8db44ff3bb41c96424cdc20676"
                        target="_blank">community.mattermost.com</a>!
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-md-3 doc-content tags-sidebar">
                <div class="well well-sm">
                    <div>Other Posts</div>
                    <ul class="list-unstyled">
                        {{ range first 15 (where .Site.Pages ".Section" "blog" )}}
                        {{ if and (.IsPage) (ne .Title $.Title)}}
                        <li class="blog-item__sidebar">- <a href="{{ $.Site.BaseURL }}{{.URL}}">{{ .Title }}</a></li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>