name: preview-env-template

# on:
#   pull_request:
#     types: [assigned, opened, reopened, synchronize]

on:
  workflow_call:
    inputs:
      PR_NUMBER:
        type: string
        required: true
      TRIGGERING_ACTOR:
        type: string
        required: true
      COMMIT_SHA:
        type: string
        required: true
    

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      PR_NUMBER: ${{ inputs.PR_NUMBER }}
      TRIGGERING_ACTOR: ${{ inputs.TRIGGERING_ACTOR }}
      COMMIT_SHA: ${{ inputs.COMMIT_SHA }}
    steps:
      - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
        with:
          submodules: true
          fetch-depth: 0
          ref: ${{ inputs.COMMIT_SHA }}

      - uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
        with:
          go-version-file: go.mod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: 0.101.0
          extended: true

      - name: Build Previews
        run: |
          rm -rf ./dist
          make plugin-data
          hugo -F -s site --baseURL "http://mattermost-dev-docs-preview-pulls.s3-website-us-east-1.amazonaws.com/${PR_NUMBER}/" --destination ../dist/html

      - name: Run tests
        run: make test

      - uses: shallwefootball/s3-upload-action@4350529f410221787ccf424e50133cbc1b52704e # v1.3.3
        name: Upload Preview Env
        with:
          aws_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_bucket: mattermost-dev-docs-preview-pulls
          source_dir: ./dist/html
          destination_dir: ${{ env.PR_NUMBER }}


      - name: Add comment to PR
        uses: peter-evans/create-or-update-comment@7dfe4b0aa0c4bbd06d172692ff8a9e18381d6979 # v3.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ env.PR_NUMBER }}
          body: |
            Newest code from ${{ env.TRIGGERING_ACTOR }} has been published to [preview environment](http://mattermost-dev-docs-preview-pulls.s3-website-us-east-1.amazonaws.com/${{ env.PR_NUMBER }}) for Git SHA ${{ env.COMMIT_SHA }}
  