name: preview-env-fork-setup-update

on:
  workflow_run:
    workflows: ["check-label-preview-env"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      issues: read


    steps:
      - name: Download PR number artifact
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          name: pr.txt
      - name: Save PR number
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        id: pr
        run: |
          cat pr.txt
          echo "::set-output name=id::$(<pr.txt)"
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.74.2'
          # extended: true

      - name: Build Previews
        run: |
          rm -rf ./dist
          hugo -F -s site --baseURL http://mattermost-dev-docs-preview-pulls.s3-website-us-east-1.amazonaws.com/ --destination ../dist/html

      - uses: shallwefootball/s3-upload-action@master
        name: Upload Preview Env
        with:
          aws_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_bucket: ${{ secrets.AWS_BUCKET }}
          source_dir: ./dist/html
          destination_dir: ${{ steps.pr.outputs.id }}

      - name: Add comment to PR
        uses: peter-evans/create-or-update-comment@v1
        if: ${{ success() &&  github.event.workflow_run.conclusion == 'success' && steps.label-checker.outputs.result == 'true' }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ steps.pr.outputs.id }}
          body: |
            Newest code from ${{ github.actor }} has been published to [preview environment](http://mattermost-dev-docs-preview-pulls.s3-website-us-east-1.amazonaws.com/${{ steps.pr.outputs.id }}) for Git SHA ${{ github.event.workflow_run.head_sha }}

      - name: The job has failed
        if: ${{ failure() && github.event.workflow_run.conclusion == 'success' && steps.label-checker.outputs.result == 'true' }}
        uses: peter-evans/create-or-update-comment@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ steps.pr.outputs.id }}
          body: Preview environment failed.
